.added-member {
  background-color: var(--accent-color);
}

.unadded-member {
  background-color: gray;
}

.member-tile:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.member-tile {
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 50px;
  transition: 0.5s ease;
}