header {
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.app-name {
    margin-left: 2%;
    align-self: flex-start;
}

.logo {
    margin-right: 2%;
    align-self: flex-end;
}