header {
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    padding: 1em 3em;
    will-change: filter;
    transition: filter 300ms;
    align-self: flex-start;
}

.profile-photo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    border-radius: 40px;
}


.profile-photo:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 2em #646cffaa);
}