.home-details {
    width: 45%;
    height: 80%;
    max-height: 80vh;
    margin: 0 2em;
    padding: 2em;

    background-color: var(--third-color);
}

.reminders-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 60%;
    max-height: 60vh;

    overflow-y: auto;
    border: 2px gray solid;
}